{% extends "base.html" %}
{% block style %}
<style>
    #openModalBtn {
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);

    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        color: #000;
    }

    .close {
        color: #aaa;
        float: left;
        font-size: 28px;
        font-weight: bold;
        margin-left: auto;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        cursor: pointer;
    }

    .qr_code {
        width: 300px;
        height: 300px;

    }
</style>

{% endblock style %}

{% block main %}

<div class="container py-4 ">
    <h1>Welcome Admin</h1>

    <table class="table table-dark table-striped my-4 ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
                <th scope="col">Scanned</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <th scope="row">{{profile.id}}</th>
                <td>
                    <div>
                        <button id="openModalBtn" class="bg-transparent border-0 text-white text-capitalize px-3">
                            {{profile.username}}
                        </button>

                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <img class="qr_code mx-auto " src="{{profile.qr_code}}" alt="">
                            </div>
                        </div>

                    </div>

                </td>
                <td>
                    <p>{{profile.points}}</p>
                </td>
                <td>
                    <p>{{profile.scanned_by_admin}}</p>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock main %}


{% block script %}
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("openModalBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

{% endblock script %}