{% extends "base.html" %}

{% block style %}

<style>
    .qr_code {
        width: 400px;
        height: 400px;
    }

    .username_heading {
        font-weight: bold;
        text-transform: capitalize;
    }

    .points {
        font-weight: 700;
    }
</style>
{% endblock style %}


{% block main %}

<div class="container py-4 ">
    <h1 class="text-capitalize">Welcome {{profile.username}}</h1>

    <div class="card text-left w-100 mx-auto mt-4">
        <img class="card-img-top mx-auto qr_code " src="{{profile.qr_code}}" alt="">
        <div class="card-body">
            <h4 class="card-title username_heading">Username: {{profile.username}}</h4>
            <p class="card-text points">Points: {{profile.points}}</p>
        </div>
    </div>

</div>
{% endblock main %}